body {
  margin: 0;
  padding: 0;
  width: 100%;
}

div {
  width: 100%;
  background-color: tomato;
}

div ul {
  margin: 0 auto;
  width: 600px;
  overflow: hidden;
}

div ul li {
  float: left;
  width: 50px;
  height: 50px;
  list-style-type: none;
  margin-right: 30px;
  position: relative;
  margin: 5px 20px;
}

div ul li:first-child {
  margin-left: 100px;
}

div ul li a {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  text-decoration: none;
  color: white;
  line-height: 50px;
  font-size: 24px;
  border-radius: 50%;
  text-shadow: 0px 1px 5px rgb(12, 12, 12);
  opacity: 0.3;
  background: rgba(0, 128, 0, 0.425);
}

div ul li:hover a {
  background: rgba(19, 136, 19, 0.801);
  opacity: 1;
}
/*.clear {
  clear: both;
}*/
