#block4 {
  font-family: "Questrial", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background: url("https://surakij.github.io/Pproject1/Images/background_block4.png")
    no-repeat;
  background-size: 100%;
  width: 1480px;
}
#block4 .wraper {
  width: 1023px;
  margin: 0 auto;
}
#block4 .wraper_inner {
  margin: 0;
  padding: 85px 0 75px 0;
  width: 680px;
}
#block4 .wraper h1 {
  text-transform: uppercase;
  color: #ee8129;
  font-size: 24px;
  line-height: 1.6em;
  margin: 0 0 10px 0;
  text-align: center;
}
#block4 .wraper h4 {
  font-style: italic;
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 35px 10px;
  padding: 0;
}
#block4 .wraper ul {
  color: #5f6061;
  width: 630px;
  margin: 0 0 10px 0;
  list-style: none;
  padding: 0;
}
#block4 .wraper ul li {
  line-height: 1.8em;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
  position: relative;
}
#block4 .wraper ul li::before {
  content: "\2B24";
  position: absolute;
  top: 0;
  left: -25px;
  font-size: 12px;
}
#block4 .wraper ul li:nth-last-of-type(2) {
  color: #2f4c65;
}
