#block1 {
  margin: 0;
  padding: 0;
  font-family: "Economica", sans-serif;
  text-transform: uppercase;
  width: 1480px;
}
#block1 .main {
  width: 1023px;
  margin: 0 auto;
  background-color: #ffffff;
}
#block1 .main .item {
  display: inline-block;
}
#block1 .menu {
  width: 580px;
}
#block1 .menu ul {
  list-style: none;
  font-size: 15px;
  margin: 0;
}
#block1 .menu ul li {
  display: inline-block;
  margin: 0 0 30px 0;
}
#block1 .menu ul li a {
  text-decoration: none;
  color: #989898;
  font-weight: normal;
  padding: 0 11px 0 10px;
}
#block1 .menu ul li:hover a {
  color: #3070a8;
  font-weight: normal;
  border-bottom: #3070a8 5px solid;
  padding: 0 11px 30px 10px;
}
#block1 .logo {
  width: 289px;
  font-family: "Varela Round", sans-serif;
  margin: 0 149px 0 0;
}
#block1 .logo p {
  color: #3070a8;
  font-size: 30px;
  font-weight: 900;
}
#block1 .logo .first_word {
  text-transform: capitalize;
  color: orange;
  font-weight: normal;
}
