#block6 {
  margin: 0;
  padding: 0;
  font-family: "Abel", sans-serif;
}
#block6 div.commments {
  -border: black 1px solid;
  width: 100%;
  background-image: url("https://surakij.github.io/Pproject1/Images/background.png");
}
#block6 div.commments > h1 {
  text-transform: uppercase;
  color: blue;
  -border: black 1px solid;
  margin: 40px auto;
  text-align: center;
  font-size: 45px;
  padding: 0;
}
#block6 div.commments h1 span.fisrt_word {
  color: orange;
}
#block6 div.clients {
  -border: rgb(240, 8, 8) 1px solid;
  width: calc(507px * 2);
  margin: 0 auto;
  padding-top: 10px;
  overflow: hidden;
}
#block6 div.costem1,
#block6 div.costem2 {
  -border: rgb(221, 10, 10) 1px solid;
  float: left;
  padding: 0;
  margin: 0 1px 60px 1px;
  position: relative;
}

#block6 div.costem1 img,
#block6 div.costem1 .window1 {
  float: left;
  -border: red 1px solid;
  margin-right: 30px;
}

#block6 div.costem1 .window1 {
  -border: red 1px solid;
  width: 330px;
  background-color: white;
  padding: 10px;
  margin-right: 40px;
}
#block6 div.costem2 img,
#block6 div.costem2 .window2 {
  float: left;
  margin-top: 0;
  margin-right: 30px;
  -border: red 1px solid;
}
#block6 div.costem2 .window2 {
  -border: red 1px solid;
  width: 330px;
  background-color: white;
  padding: 10px;
  margin-right: 0;
}
#block6 .window1 h4,
#block6 .window2 h4 {
  border-bottom: 1px dashed black;
  margin: 0 0 5px 0;
  padding-bottom: 5px;
  color: blue;
  font-style: italic;
}
#block6 .window1 h4::before,
#block6 .window2 h4::before {
  content: "-";
  margin-right: 5px;
}
#block6 .window1 h4::after,
#block6 .window2 h4::after {
  content: "Customer";
  float: right;
}
#block6 .window1 p,
#block6 .window2 p {
  -border: 1px black solid;
  margin: 0;
}

#block6 .tringle {
  width: 0;
  height: 0x;
  border-top: 15px solid transparent;
  border-right: 20px solid white;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 35px;
  left: 115px;
}
