#block3 {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
  /*font-family: 'Questrial', sans-serif;*/
  background-color: #ffffff;
  -border: red 1px solid;
  width: 1480px;
}
#block3 .wraper {
  -border: black 1px solid;
  width: 1023px;
  margin: 0px auto;
  text-align: center;
  padding: 20px;
}
#block3 .wraper h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #41525c;
  padding-bottom: 20px;
}
#block3 .wraper .block {
  width: 280px;
  -border: black 1px solid;
  display: inline-block;
}
#block3 .wraper .block .round {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #3070a8;
  margin: 10px auto;
  position: relative;
  
}
#block3 .wraper .block .round i {
  font-size: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
  color: #ffffff;
  text-shadow: 1px 1px 0 #2c679a, 2px 2px 0 #2c679a, 3px 3px 0 #2c679a,
    4px 4px 0 #2c679a, 5px 5px 0 #2c679a, 6px 6px 0 #2c679a, 7px 7px 0 #2c679a,
    8px 8px 0 #2c679a, 9px 9px 2px #2c679a, 10px 10px 5px #2c679a,
    11px 11px 10px #2c679a;
}
#block3 .wraper .block .round i.fa-bolt {
  transform: rotate(45deg);
  top: 30%;
  text-shadow: 1px 1px 0 #2c679a, 2px 1px 0 #2c679a, 3px 1px 0 #2c679a,
    4px 1px 0 #2c679a, 5px 1px 0 #2c679a, 6px 1px 0 #2c679a, 7px 1px 0 #2c679a,
    8px 1px 0 #2c679a, 9px 1px 2px #2c679a, 10px 1px 5px #2c679a,
    11px 1px 10px #2c679a;
}
#block3 .wraper .block h2 {
  text-transform: uppercase;
  color: #3070a8;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
}
#block3 .wraper .block p {
  color: #a7a7a7;
  font-size: 11px;
  font-weight: 300;
  width: 230px;
  margin: 10px auto;
  line-height: 1.6em;
}
