#block2 {
  margin-top: -3px;
  padding: 0;
  width: 1480px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  background: url("https://surakij.github.io/Pproject1/Images/Background3.png")
    no-repeat;
  background-size: cover;
  font-size: 40px;
}
#block2 .wrap2 {
  width: 1023px;
  margin: 0 auto;
  padding: 150px 70px 100px 70px;
  text-align: center;
}
#block2 .wrap2 .line {
  margin: 0 auto;
}
#block2 .first {
  font-size: 35px;
  padding-bottom: 15px;
}
#block2 .second {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 50px;
  padding-bottom: 35px;
}
#block2 .third {
  width: 650px;
  font-size: 19px;
  font-style: italic;
  font-weight: 600;
  text-align: justify;
  padding-bottom: 35px;
}
#block2 .wrap2 button {
  background: none;
  border-color: #ffffff5e;
  border-radius: 1px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}
#block2 .wrap2 button a {
  display: block;
  width: 245px;
  padding: 20px 0;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
