body {
  background-color: rgb(255, 255, 255);
}
h1 {
  color: orange;
  text-align: right;
}
p::first-letter {
  font-size: 300%;
  color: red;
}
em {
  background-color: green;
  color: white;
}

 .plants-list ul {color: black; font-weight: bold;} 

#garden h2 {
  color: orange;
}

#garden  ol.fruits  {
  color: gray; font-weight: normal;
}
#garden ol.vegitable {
  color: red; font-weight: normal;
}

#storage h2 {
  color: blue;
}

#storage ol.fruits {
  color: green; font-weight: normal;
}
#storage ol.vegitable {
  color: red; font-weight: normal;
}
