body {
    background-color: rgb(255, 255, 255);
  }
  h1 {
    color: orange;
    text-align: right;
  }
  p::first-letter {
    font-size: 300%;
    color: red;
  }
  em {
    background-color: green;
    color: white;
  }
  div#garden h2 {
    color: orange;
  }
  div#garden li{color: black; font-weight: bold;}
  div#garden ol.fruits li {color: gray; }
  div#garden ol.vegitable li {color:red;}
  
  
  
  div#storage h2 {
    color: blue;
  }
  div#storage li{color: black; font-weight: bold;}
  div#storage ol.fruits li {color: green;}
  div#storage ol.vegitable li {color:red;}