body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Lato", sans-serif;
}
.main {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}
.main h1 {
  margin: 60px 0 0 0;
  padding: 0;
}
.main h5 {
  color: #979797;
  margin: 20px 0 80px 0;
  padding: 0;
}
.cover {
  margin: 0 auto;
  max-width: 1195px;
  min-width: 395px;
  padding: 15px;
  position: relative;
}
.image {
  width: 365px;
  height: 260px;
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  position: relative;
  box-sizing: border-box;
}
.inner_cover {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
}
.image:hover .inner_cover {
  background: #3aadf4cb;
  display: block;
  position: absolute;
  top: 0;
}
.inner_cover2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.inner_item {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  position: relative;
}
.inner_item:nth-child(1) {
  margin-right: 10px;
}

.fas {
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.fa-link {
  transform: rotate(90deg);
  bottom: 0;
  top: 0;
  right: 60%;
}

.hide_show_image,
.hide_input_murks {
  display: none;
}

input[type="checkbox"]:checked ~ .hide_show_image {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #ffffff79;
  display: block;
  margin: 0;
  padding-top: 170px;
}
input[type="checkbox"]:checked ~ .hide_show_image .wraper {
  max-width: 1195px;
  margin: 0 auto;
  position: relative;
  display: none;
}

input[type="checkbox"]:checked ~ .hide_show_image .wraper img {
  border: 3px gray solid;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

input[type="checkbox"]:checked ~ .hide_show_image .wraper .icon_close {
  position: absolute;
  top: -20px;
  right: 10px;
}
input[type="checkbox"]:checked
  ~ .hide_show_image
  .wraper
  .icon_close
  .item_icon_close {
  width: 40px;
  height: 40px;
  background-color: red;
  position: relative;
}
input[type="checkbox"]:checked
  ~ .hide_show_image
  .wraper
  .icon_close
  .item_icon_close::before {
  content: "\2716";
  color: #ffffff;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
input[type="checkbox"]:checked ~ .cover {
  display: none;
}
#hide_show_image_01:checked ~ .hide_show_image .wraper_Image_01 {
  display: block;
}
#hide_show_image_02:checked ~ .hide_show_image .wraper_Image_02 {
  display: block;
}
#hide_show_image_03:checked ~ .hide_show_image .wraper_Image_03 {
  display: block;
}
#hide_show_image_04:checked ~ .hide_show_image .wraper_Image_04 {
  display: block;
}

#hide_show_image_05:checked ~ .hide_show_image .wraper_Image_05 {
  display: block;
}
#hide_show_image_06:checked ~ .hide_show_image .wraper_Image_06 {
  display: block;
}
