html,
body {
  font-family: "Questrial", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background: url("/HTML/surakij.github.io/Pproject1/Images/background_block4.png")
    no-repeat;
  background-size: 100%;
  position: relative;
  width: 1500px;
  
}
.wraper {
  width: 700px;
  -border: red solid;
  position: absolute;
  top: 80px;
  left: 150px;
}
.wraper h1 {
  text-transform: uppercase;
  color: #ee8129;
  font-size: 26px;
  -border: red solid;
  line-height: 1.6em;
  margin: 0 0 10px 0;
  text-align: center;
}
.wraper h4 {
  font-style: italic;
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 35px 10px;
}
.wraper ul {
  color: #5f6061;
  -border: red solid;
  width: 630px;
  margin: 0 0 10px 0;
  list-style: none;
}
.wraper ul li {
  line-height: 1.8em;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
  position: relative;
}
.wraper ul li::before {
  content: "\2B24";
  position: absolute;
  top: 0;
  left: -25px;
}
.wraper ul li:nth-last-of-type(2) {
  color: #2f4c65;
}
